@import url('https://fonts.googleapis.com/css?family=Allan|Mukta&display=swap');

body {
  margin: 0;
  font-family: 'Mukta', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
